.DS_Store
.svn

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

## CodeBlocks
*.depend
*.layout
*.save
bin64/core

## Windows
## ignore thumbnails created by windows
Thumbs.db

#Custom hcm ignores
.svn
*.o
*.lo
*.la
*.al
.libs
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.ilk
*.exp
*.pch
*.pdb
*obj
*/obj
*.tlog
*.idb
Debug
Release
ipch
gen
bin
*.aux 
*.bbl 
*.blg 
*.lot 
*.toc 
*.synctex.gz 
*.out 
*.g.resources
*.class
*.opensdf
*.sdf
*.cache 
*.manifest 
*.baml 
*.lastbuildstate 
*.dex 
*.ap_ 
*.lref 
*.iso 
*.img
merger
xcuserdata
xcshareddata
.settings
local.properties
xccheckout
users.db
mediator.devmap
mediator.conf
mediator.data
bin/data
bin/env.conf
bin64/data
bin64/env.conf
bin64/.env.v*
bin64/*.bin
bin64/libs/libopenh264.dylib
bin64/libs/openh264.LICENSE.txt
bin64/*.dll
bin64/*.htm
bin64/*.dylib
libs/*
bin/libs/libopenh264.dylib
bin/libs/openh264.LICENSE.txt
Windows/Plugins/DecAvH264/DecAvH264.vcxproj.user
Windows/Plugins/EncLibx264/EncLibx264.vcxproj.user
Windows/Plugins/EncMfh264/EnvMfh264.vcxproj.user
Windows/Plugins/TrackSurface/TrackSurface.vcxproj.user
3rd/pkgs/android-source
3rd/inc
3rd/inc/android/
3rd/pkgs
3rd/tmp
3rd/lib/android/2.3.7
3rd/lib/android/4.0.4
3rd/lib/android/4.2.2
3rd/lib/android/4.3
3rd/lib/android/4.4
3rd/lib/android/arm/libopenh264.so
3rd/lib/android/arm/openh264.LICENSE.txt
Androids/Environs/build
Androids/.idea
#Androids/*.iml
Androids/Environs/src/main/jniLibs
#Androids/SimpleEnvirons/app/libs
#Androids/MediaBrowser/app/libs
Androids/ActionBarSherlock*
Androids/aFileDialog*
Environs.Build.Opts.VLD.h
*.DHL.manifest
Common/Environs.Commit.h
Common/ORIG_HEAD
Windows/Environs/nul
Windows/Environs/null
