<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="environs.MediaBrowser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
 	<uses-permission android:name="android.permission.CAMERA"/>
<!-- 	<uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
 	<uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" /> --> 
 	
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
        
    <permission android:name="environs.mediabrowser.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="environs.mediabrowser.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
 	
    <application tools:node="replace"
        android:allowBackup="true"
        android:icon="@drawable/hcm"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock"        
        android:hardwareAccelerated="true">
        <activity
            android:name="environs.MediaBrowser.TabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="environs.MediaBrowser.Fullscreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
             >
            <!--  android:windowSoftInputMode="stateVisible" -->
            
        </activity>
        
        <activity
            android:name="environs.MediaBrowser.DeviceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <activity android:name="ar.com.daidalos.afiledialog.FileChooserActivity" />
        
        <receiver
            android:name="environs.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <category android:name="environs" />
            </intent-filter>
        </receiver>
        
        <service android:name="environs.GCM" />
    </application>
    
</manifest>