<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="environs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.CAMERA"/>
    
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.READ_FRAME_BUFFER" /> -->
 	
    <!--  For wakeup of devices on push notifications: This needs to be in the AndroidManifest.xml!
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    -->
    
    <!--  For using push notifications: This needs to be in the AndroidManifest.xml of the application with the correct packagename prepended!!!
    <permission android:name="environs.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="environs.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> 	

    <permission android:name="mediabrowserr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="mediabrowserr.permission.C2D_MESSAGE" />
    -->
    <application>
        
        <receiver
            android:name="environs.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
 
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
                <category android:name="environs" />
            </intent-filter>
        </receiver>
        
        <service android:name="environs.GCM" />
    </application>
</manifest>
